body{
background-color: #f4eedd;
width:100%;
padding:0;
margin:0;
}

h1{          /*main heading*/
font-size:50px;
font-family: Papyrus, fantasy;
color:#7b8081; 
padding-top: 60px;
padding-left: 200px; 
}

#main{  /*main paragraph*/
color:#7b8081;
line-height: 30px;
font-family: monaco, Consolas, "Lucida Console", monospace;
font-size: 18px;
padding-left: 200px;
padding-bottom: 350px;
}

h2{      /*subheadings*/
text-align: left;
font-family: Papyrus, fantasy;
font-size: 50px;
color: #585656;
padding-left: 200px;
padding-top: 30px;
}

table{     /*table containing image and body content*/
padding-left: 200px;
}

.manhole{   /*manhole covers section*/
padding-bottom: 20px;
background-color: #ffffff;
}

.manhole p{
font-family: monaco, Consolas, "Lucida Console", monospace;
font-size: 16px;
line-height: 30px;
height: 250px;
padding-left: 200px;
}

#one, #one2{  /*manhole covers description*/
font-family: monaco, Consolas, "Lucida Console", monospace;
font-size: 16px;
padding-left: 60px;
}

.markings{ /*street markings section*/
padding-bottom: 20px;
background-color: #ffffff;
}

.markings p{
font-family: monaco, Consolas, "Lucida Console", monospace;
font-size: 16px;
line-height: 30px;
height: 250px;
padding-left: 200px;
}

#two{ /* street markings description*/
font-family: monaco, Consolas, "Lucida Console", monospace;
font-size: 20px;
padding-left: 60px;
}

.cameras{   /*cameras section*/
padding-bottom: 20px;
background-color: #ffffff;
}

.cameras p{
font-size: 16px;
line-height: 30px;
font-family: monaco, Consolas, "Lucida Console", monospace;
height: 250px;
padding-left: 200px;
}

#three{   /*cameras description*/
font-family: monaco, Consolas, "Lucida Console", monospace;
font-size: 16px;
line-height: 30px;
padding-left: 60px;
}

.antenna{   /*various antennas section*/
padding-bottom: 20px;
background-color: #ffffff;
}

.antenna p{
font-size: 16px;
line-height: 30px;
font-family: monaco, Consolas, "Lucida Console", monospace;
height: 250px;
padding-left: 200px;
}

#four, #four2{   /*various antenna description*/
font-family: monaco, Consolas, "Lucida Console", monospace;
font-size: 16px;
line-height: 30px;
padding-left: 60px;
}

.links{   /*links div*/
background-color: #ffffff;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 200px;   
}

.links a{   /*links style*/
color: #44a872;
font-size: 20px;
text-decoration: none;
font-family: monaco, Consolas, "Lucida Console", monospace;
letter-spacing: 1px;
}

.links  a:hover { /*links style*/
color:rgba(145, 92, 92, 0.5); 
}

#m{  /*links style for manhole covers*/
padding-left: 40px;
}

#c{ /*links style for cameras*/
padding-left: 40px;  
}

#a{ /*links style for various antennas*/
padding-left: 40px;
}

img{ /*images*/
width: 300px;
height: 300px;
padding-top: 50px;
}

#telecom{ /*manhole covers image 2*/
font-family: monaco, Consolas, "Lucida Console", monospace;
height: 500px;
padding-top: 50px;
}

#ant2{ /*various antenna image 2*/
font-family: monaco, Consolas, "Lucida Console", monospace;
padding-top: 50px;
padding-bottom: 20px;
}

h3{

}